
/* Issue */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container{
    flex: 1;
}

/* navbar */

.logo{
    font-size: 2rem;
    color: #fe424d;
}

.navbar{
    height: 4rem;
    font-size: 3vh;
}

.nav-link{
    color: #222 !important;
}


/* footer */

.f-info,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
    text-align: center;
}

.f-info{
    width: 100%;
    text-align: center;
    height: 5rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links {

    a{
        text-decoration: none;
        text-align: center;
        color: #222;
    }
    
    width: 100%;
}
 
.f-info-links a:hover{
    text-decoration: underline;
    color: black;
}

/* cards */

.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;


}

.card-body{
    padding: 0px !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;

}

.card-test p {
    font-weight: 800;
    font-size: xx-large;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0 !important;
}

.card-img-overlay:hover{
    opacity: 0.2 !important;
    background-color: white !important;
}


.btn-color{
    background-color: #fe424d !important;
    border: none;
}


.new-btn{
    background-color: #fe424d !important;
    border: none;
}


/* Show Page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btns button{
    background-color: #fe424d !important;
    border: none;
}


/* Card Reviews */

.cardreviews{
    border: black solid 0.5px;
    border-radius: 10px;
}

/* Map */


#map{
    height: 400px;
    width: 80rem;
}